#size-select {
  margin: 10px;
  margin-left: 0;
  border: 1px solid #ccc;
  border: none;
  padding: 14px;
  padding-right: 0px;
  border-radius: 30px;
  -webkit-appearance: none;
  padding-right: 5px;
  appearance: none;
  font-size: 16px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.timer {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  margin-right: 0;
  padding: 10px;
  padding-left: 0px;
  color: #fff;
}

#tile {
  font-size: 30px;
}

#tile-small {
  font-size: 15px;
}

.win-message {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
  text-align: center;
}

.puzzle-grid {
  padding: 10px;
  border: 10px solid #fff;
}

.stop-btn,
.pause-btn,
.start-btn {
  color: white;
  padding: 14px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.stop-btn {
  background-color: #f44336;
}

.pause-btn {
  background-color: #4caf50;
}

.start-btn {
  background-color: #2196f3;
}

#telegram {
  color: #0088cc;
  text-decoration: none;
}

@media screen and (max-width: 528px) {
  .puzzle-wrapper {
    padding-left: 60px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 391px) {
  .puzzle-wrapper {
    padding-left: 0;
    padding-right: 10px;
  }
}
