* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #152942;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
